{% extends "base_logged_in.twig" %}

{% block content %}
        <div class="panel-heading">
            <h1>{% trans %}Competition details{% endtrans %}</h1>
        </div>
        <div class="panel-content">
            <p class="okay">
                {% trans %}The race result has been deleted.{% endtrans %}
            </p>
        </div>
{% endblock %}
