{% extends "base_logged_in.twig" %}

{% block content %}
    <div id="close" class="black-rounded-icon" onclick="Runalyze.Overlay.close()"><i class="fa fa-fw fa-times"></i></div>
    <div class="panel-heading">
        <h1>{% trans %}Competition details{% endtrans %}</h1>
    </div>
    <div class="panel-content">
        {% trans %}This activity does not belong to you{% endtrans %}
    </div>
{% endblock %}
