{% extends "base_logged_in.twig" %}

{% import _self as this %}

{% block content %}
    <div class="panel-heading">
        <h1>{% trans %}Race results{% endtrans %}: {% trans %}Performance Chart{% endtrans %}</h1>
    </div>

    <div class="panel-content">
        <fieldset class="without-legend" style="line-height: 21px;">
            <div class="w25 checkbox-first">
                <label>
                    <input id="checkbox-only-pb" type="checkbox"> Show only personal bests
                </label>
            </div>
            <div class="w25 checkbox-first">
                <label>
                    <input id="checkbox-world-records" type="checkbox" checked> Compare with world records
                </label>
            </div>
            <div class="w25">
                <label></label>
            </div>
            <div class="w25">
                <label for="select-year">Year:</label>
                <select id="select-year" name="select-year">
                    <option value="all">Show all years</option>
                    {% for year in (date('now')|date('Y'))..(configVar('data.START_TIME')|date('Y'))  %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- TODO: Menu for sport -->
        </fieldset>
    </div>

    <div class="panel-content race-performance-chart">
        <div id="races-plot" class="scatterplot loading"></div>
    </div>

    <script>
        Runalyze.RacePerformanceChartView(
            "#races-plot",
            "{{ url('internal-data-race-results-all') }}",
            {
                onlyPb: $("#checkbox-only-pb"),
                wr: $("#checkbox-world-records"),
                year: $("#select-year"),
                mainDistances: [0.06, 0.1, 0.2, 0.4, 0.8, 1.0, 1.5, 3.0, 5.0, 10.0, 21.1, 42.2, 50.0],
                mainDistanceTicks: [0.06, 0.1, 0.2, 0.4, 0.8, 1.5, 3.0, 5.0, 10.0, 21.1, 42.2],
                {% if isMale|default(true) %}
                worldRecordTimes: [6.39, 9.58, 19.19, 43.03, 100.91, 131.96, 206.0, 440.67, 757.35, 1577.53, 3503, 7377, 9818],
                worldRecordVo2max: [NaN, NaN, NaN, NaN, NaN, 84.5, 83.6, 83.5, 85.0, 85.1, 84.1, 83.6, 73.8]
                {% else %}
                // TODO
                worldRecordTimes: [6.39, 9.58, 19.19, 43.03, 100.91, 131.96, 206.0, 440.67, 757.35, 1577.53, 3503, 7377, 9818],
                worldRecordVo2max: [NaN, NaN, NaN, NaN, NaN, 84.5, 83.6, 83.5, 85.0, 85.1, 84.1, 83.6, 73.8]
                {% endif %}
            }
        );
    </script>
{% endblock %}
