{% extends "settings/account/delete/base.html.twig" %}

{% block messages %}
    <p class="warning">
        {% trans %}Do you really want to delete your account?{% endtrans %}
        <br>
        <br>
        <a href="{{ path('settings_account_delete_confirmed', {'hash': deletionHash}) }}">
            <strong>{% trans %}Delete account{% endtrans %} &raquo;</strong>
        </a>
    </p>
{% endblock %}