{% extends "@Twig/Exception/error.html.twig" %}

{% block content %}
    <h3>{% trans %}Access denied{% endtrans %}</h3>

    <p class="text">
        {% trans %}You cannot access this item.{% endtrans %}

        {% if not app.request.xmlHttpRequest %}
            <br>
            <a href="{{ path('base_url') }}">{% trans %}Let's go back to RUNALYZE!{% endtrans %}</a>
        {% endif %}
    </p>
{% endblock %}
