# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
php.ini

#Runalyze
web/assets/v2.x/img/backgrounds/My-*
data/config.yml
data/sessions/sess*
data/timezone.sqlite
*.mo
inc/locale/*.po
web/app_dev.php
/.htaccess

#composer
composer.phar
/vendor/
composer.lock

#assets
node_modules/
web/assets/css/*.css
web/assets/js/*.js
web/vendor/
npm-debug.log

#symfony
/var/
!/var/cache/.gitkeep
!/var/logs/.gitkeep

!.gitkeep
