# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
php.ini

#Runalyze
build/yuicompressor-*
web/img/backgrounds/My-*
lib/phpfastcache/cache.storage.*
*.xcf
data/config.php
data/timezone.sqlite
*.mo

#composer
composer.phar
vendor/
composer.lock

#assets
node_modules/
web/assets/
view/cache/
npm-debug.log

#symfony
app/cache/*
app/logs/*

!.gitkeep
