# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

#Runalyze
build/yuicompressor-*
inc/data/gps/srtm/*.tif
inc/import/files/*
inc/export/files/*
img/backgrounds/My-*
lib/phpfastcache/cache.storage.*
log/
plugin/RunalyzePluginTool_DbBackup/backup/*
plugin/RunalyzePluginTool_DbBackup/import/*
*.xcf
config.php
