language: php

php:
    - 5.4
    - 5.5
    - 5.6

before_script:
    - mysql -e 'create database runalyze_unittest;'
    - mysql runalyze_unittest < inc/install/structure.sql

script:
    - phpunit --colors -c tests/config.xml
