* {
	padding: 0;
	margin: 0;
	border: none; }

body {
	font: normal normal normal 11px/1.2em Verdana, Arial, sans-serif;
	color: #333;
	background: url(img/backgrounds/Default.jpg); }

body.toolbar-top { padding-top: 41px; }
body.toolbar-bottom { padding-bottom: 41px; }
body.toolbar-bottom #panels { padding-bottom: 41px; }

body#home, body#shared {
	min-width: 1024px; }

body#sharedIframe {
	min-width: 400px;
	max-width: 600px; }

body#sharedIframe.toolbar-top { padding-top: 18px; }
body#sharedIframe.toolbar-bottom { padding-bottom: 2px; }

body#installer {
	font-size: 12px; }

/*** MAIN DIVS ***/
#container {
	min-width: 654px;
	padding-right: 370px;
	position: relative;
}

#main {
	width: 100%; }

#panels {
	position: absolute;
	top: -5px;
	right: 0;
	width: 344px; }

#copy, #copy2 {
	position: fixed;
	left: 0;
	z-index: 5;
	width: 100%;
	line-height: 24px;
	background-color:#555;
	overflow:hidden;
	background-color:#2c2c2c;
	background-image:-moz-linear-gradient(top, #333333, #222222);
	background-image:-ms-linear-gradient(top, #333333, #222222);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image:-webkit-linear-gradient(top, #333333, #222222);
	background-image:-o-linear-gradient(top, #333333, #222222);
	background-image:linear-gradient(top, #333333, #222222);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	}

#installer #copy {
	z-index: 12; }

#sharedIframe #copy, #sharedIframe #copy2 {
	line-height: 12px; }

#copy.top, #copy2.top { top: 0; box-shadow:0 2px 3px rgba(0, 0, 0, 0.25); }
#copy.bottom, #copy2.bottom { bottom: 0; box-shadow:0 -2px 3px rgba(0, 0, 0, 0.25); }

#copy .tab, #copy2 .tab {
	display: block;
	float: left;
	padding: 2px;
	margin: 4px 18px;
	color: #999; }

#copy .tab.right, #copy2 .tab.right {
	float: right; }

#copy .logo, #copy2 .logo {
	color: #999 !important;
	font-size: 20px;
	font-weight: 200;
	margin: 4px 25px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

#sharedIframe #copy { text-align: left; }
#sharedIframe #copy2 { text-align: right; }

#copy .tab:hover, #copy2 .tab:hover {
	color: #EEE;
	border-color: #666;
}

/*** GENERAL STYLES ***/
h1 {
	padding-left: 2px;
	margin-bottom: 7px;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	color: #800;
	border-bottom: 1px solid #CCC; }
h1 img { vertical-align: text-bottom; }

p {
	display: block;
	clear: both;
	margin: 2px 5px; }

ul {
	margin: 5px 10px 15px 10px;
	padding-left: 20px; }

hr {
	background:url(img/line.png) center center no-repeat;
	height: 2px;
	margin: 10px 0;
	width: 100%; }

table {
	border-spacing: 0;
	margin: 5px auto 10px; }

table, tr, td {
	border-spacing: 0;
	padding: 2px 3px;
	vertical-align: top; }

th {
	border-spacing: 0;
	padding: 2px 3px;
	vertical-align: middle; }

thead th, tbody.asThead th {
	border-color: #666;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	padding-right: 12px;
	text-align: center; }

thead.r th { text-align: right; }
tbody.asThead th { text-align: inherit; }



/*** FORMULARS ***/
input, select, textarea, code {
	font-size: 0.9em;
	margin: 4px 2px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #B8B8B8;
	border-radius: 3px 3px 3px 3px; }

input, textarea, code {
	padding: 2px; }

select {
	padding: 1px; }

table input, table select, table textarea {
	margin: 0 2px; }

input:focus, select:focus, textarea:focus {
	background-color: #EBFDD7; }

input[type=checkbox] {
	position: relative;
	top: 2px;
	border: none; }

label.checkable,
input[type=checkbox] {
	cursor: pointer; }

input[type=submit], .button {
	background-color: #555;
	box-shadow: 0 1px 3px #BBBBBB;
	color: #FFF !important;
	cursor: pointer;
	padding: 5px 12px !important;
	text-shadow: 1px 1px 0 #666; }

input[type=submit]:hover, .button:hover, .button.hover {
	box-shadow: 0 0 6px #8AB856; }

.button {
	display: block;
	text-align: center;
	width: 127px;
	margin: 0 auto;
	border: 1px solid #B8B8B8 !important;
	border-radius: 3px 3px 3px 3px !important; }

fieldset {
	border-top: 1px solid #DDD;
	padding-top: 6px;
	padding-bottom: 10px;
	clear: both; }

fieldset.collapsed div, fieldset.collapsed > input {
	display: none !important; }

fieldset.without-legend {
	border-top: none; }

fieldset legend {
	cursor: pointer;
	color: #8AB858;
	padding-left: 18px;
	padding-right: 3px;
	background: url("img/palOpen.gif") left center no-repeat transparent; }

fieldset.collapsed legend {
	background: url("img/palCollapsed.gif") left center no-repeat transparent; }

fieldset label {
	font-weight: bold;
	width: 45%;
	float: left;
	margin: 0 !important;
	padding: 3px 0; }

fieldset .inline label {
	float: none;
	width: auto;
	padding: 3px; }

fieldset .w25, fieldset .w33, fieldset .w50, fieldset .w100 {
	padding: 2px 0;
	min-height: 19px; }

fieldset .w25, fieldset .w33, fieldset .w50 {
	float: left;
	display: block; }

fieldset .w100 {
	clear: left;
}

fieldset textarea,
fieldset input { padding: 2px; margin: 0; }
fieldset select { padding: 1px; margin: 0; }
fieldset input.withUnit { padding: 2px 30px 2px 0; }
fieldset input.withUnitLeft { padding: 2px 0 2px 30px; }
fieldset .smallSize { width: 60px; }
fieldset .smallSize.withUnit { width: 34px; }
fieldset .middleSize { width: 120px; }
fieldset .middleSize.withUnit { width: 94px; }
fieldset .fullSize { width: 53%; }
fieldset .fullWidth { width: 95%; }
fieldset .with50erLabel label { width: 22.5%; }
fieldset .with50erLabel .fullSize { width: 75%; }
fieldset .with50erLabel .inline label { float: none; }
fieldset .with33erLabel label { width: 14.85%; }
fieldset .with33erLabel .fullSize { width: 85%; }
fieldset .w50.with33erLabel label { width: 29.7%; }
fieldset .w50.with33erLabel .fullSize { width: 65%; }
fieldset .with33erLabel .inline label { float: none; }
fieldset textarea.fullSize { height: 72px; }

input.withUnit {
	text-align: right;
	background-position: right center;
	background-repeat: no-repeat; }
input.withUnitLeft {
	background-position: left center;
	background-repeat: no-repeat; }
fieldset input.unitPercent { background-image: url('img/units/percent.png'); }
fieldset input.unitBpm { background-image: url('img/units/bpm.png'); }
fieldset input.unitSpm { background-image: url('img/units/spm.png'); }
fieldset input.unitRpm { background-image: url('img/units/rpm.png'); }
fieldset input.unitKg { background-image: url('img/units/kg.png'); }
fieldset input.unitKm { background-image: url('img/units/km.png'); }
fieldset input.unitM { background-image: url('img/units/m.png'); }
fieldset input.unitUser { background-image: url('img/units/user.png'); }
fieldset input.unitPass { background-image: url('img/units/pass.png'); }
fieldset input.unitMail { background-image: url('img/units/mail.png'); }
fieldset input.unitCelsius { background-image: url('img/units/celsius.png'); }
fieldset input.unitElevation { background-image: url('img/units/hm.png'); }
fieldset input.unitKcal { background-image: url('img/units/kcal.png'); }
fieldset input.unitKmh { background-image: url('img/units/kmh.png'); }
fieldset input.unitPace { background-image: url('img/units/pace.png'); }
fieldset input.unitPower { background-image: url('img/units/power.png'); }

:invalid,
fieldset .validationFailed {
	background-color: #FDEBD7;
	border-color: #CC0000; }

/*** TOOLBAR ***/
.toolbar {
	 }

.toolbar.asBox {
	position: relative;
	margin: 5px 5px 14px 5px;
	border: solid #ccc;
	border-radius: 5px 5px 0 0;
	border-width: 1px 1px 0 1px;
	background-color: #f6f6f6; }

.toolbar.asBox .toolbar-content {
	border-width: 0; }

.toolbar-box-content {
	padding: 3px; }

.toolbar.toHeader {
	margin-top: -7px; }

.toolbar.toHeader .toolbar-nav { border-top-color: #ddd; }
.toolbar.toHeader.open .toolbar-nav { border-top-color: #ccc; }

.toolbar-line {
	min-height: 16px;
	padding: 4px 10px 6px; }

.toolbar-content {
	display: none;
	background-color: #eee;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; }

.toolbar.withoutNav .toolbar-content {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
	border-radius: 0 0 2px 2px;
}

.toolbar-line .labeledLink {
	display: block;
	float: left;
	min-height: 12px;
	margin: 0 5px;
	padding: 2px; }
.toolbar-line .labeledLink.hide {
	display: none; }

.toolbar-line input, .toolbar-line label {
	font-size: .9em; }

.toolbar.open .toolbar-content {
	display: block; }

.toolbar-nav {
	border-top: 1px solid #ccc;
	margin: 0 1px 1em; }

.asBox .toolbar-nav {
	position: absolute;
	bottom: -9px;
	width: 100%; }

.atTop { opacity: .5; }
.open.atTop, .atTop:hover { opacity: 1; }

.atTop .toolbar-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; }

.toolbar-opener {
	position: relative;
	display: block;
	cursor: pointer;
	height: 9px;
	width: 50px;
	margin: -1px auto 0;
	background: url(img/updown.png) no-repeat scroll 0 -9px transparent; }

.toolbar.open .toolbar-opener { background-position: 0 0; }
.atTop .toolbar-opener { margin-top: -9px; background-position: 0 -18px; }
.toolbar.open.atTop .toolbar-opener { background-position: 0 -27px; }

.toolbar input {
	margin: 0 2px; }

.toolbar label,
.toolbar select {
	margin: 0 5px;
	padding: 1px; }


/*** LINKS ***/
a:link, a:visited {
	color: #666;
	text-decoration: none;
	/*padding-bottom: 1px;*/ }

a:hover, a:active, .link:hover {
	color: #000;
	/*border-bottom: 1px solid #800;
	padding-bottom: 0;*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; }

.linksWithMargin a {
	margin-left: 15px; }

h1 a:link, h1 a:visited {
	color: #800; }

h1 a:hover, h1 a:active {
	color: #000; }

#copy a:hover, #copy a:active {
	color: #DDD;
	text-shadow: -1px -1px 0 #000; }


/*** TAB-NAVIGATION ***/
#statistiken {
	margin-top: 0;
	border-top: none; }

#statisticTabs {
	margin: 0 5px;
	padding: 0;
	height: 26px;
	list-style: none;
	border-bottom: 1px solid #000; }

#statisticTabs li {
	opacity: 0.8;
	filter: alpha(opacity=80);
	float: left;
	position: relative;
	top: 1px;
	height: 25px;
	line-height: 25px;
	margin-right: -1px;
	border: 1px solid #000;
	background: url(img/bg.png);
	overflow: hidden; }

#statisticTabs li a {
	display: block;
	padding: 0 10px; }

#statisticTabs li.active, #statisticTabs li:hover  {
	opacity: 1;
	filter: alpha(opacity=100);
	border-color: #000;
	border-bottom: none; }

#statisticTabs li.active a:link, #statisticTabs li.active a:visited {
	color: #000; }


/*** OVERLAYS ***/
#overlay {
	display: none;
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6); }

#ajax {
	display: none;
	z-index: 12;
	position: absolute;
	left: 50%;
	width: 800px;
	margin: 25px 0 25px -400px;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 3px 2px 5px #333;
	-webkit-box-shadow: 3px 2px 5px #333;
	-moz-box-shadow: 3px 2px 5px #333; }

#ajax-navigation {
	display: block;
	z-index: 11;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	width: 210px;
	height: 100%;
	overflow: scroll;
	box-shadow: 3px 2px 5px #333;
	-webkit-box-shadow: 3px 2px 5px #333;
	-moz-box-shadow: 3px 2px 5px #333; }

#falseAjax {
	width: 800px;
	margin: 25px auto;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}

form#training {
	min-height: 350px;
}

#close, #ajaxPrev, #ajaxNext {
	z-index: 12;
	position: absolute;
	width: 36px;
	height: 36px;
	cursor: pointer;
	text-indent: -9999px;
}

#close { top: -20px; right: -20px; background: url(img/roundNav.png) no-repeat 0 0 transparent; }
#ajaxPrev { top: 150px; left: -25px; background: url(img/roundNav.png) no-repeat 0 -36px transparent; }
#ajaxNext { top: 150px; right: -25px; background: url(img/roundNav.png) no-repeat 0 -72px transparent; }

#ajaxPrev:hover, #ajaxNext:hover { border: none; }

#ajax.smallWin {
	width: 500px;
	margin-left: -250px; }

#ajax.bigWin {
	width: 90%;
	margin-left: -45%; }

@media screen and (max-width: 960px) {
	#ajax { width: 90%; left: 2%; margin: 0; }
	#ajax.smallWin { width: 500px; left: 230px; margin: 0; }
	#ajax.bigWin { width: 960px; left: 0; margin: 0; }
}

@media screen and (max-width: 600px) {
	#ajax { width: 600px; left: 0; margin: 0; }
}

#ajax.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
	background-color: #F6F6F7;
	z-index: 500;
	margin: 0 !important;
    box-sizing: border-box;
	border-radius: 0;
	overflow: scroll;
}
#ajax.fullscreen #close { top: 0; right: 0; }


/*** BLOCKLIST ***/
ul.blocklist li {
	list-style-type: none; }

ul.blocklist a {
	display: block;
	width: 70px;
	line-height: 20px;
	margin: 5px auto;
	padding: 5px 30px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 7px #E0E0E0;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #F6F6F7;
	background-position: 3px center;
	background-repeat: no-repeat; }

ul.blocklist-inline a, ul.blocklist-inline li {
	float: left;
	margin: 5px;
}

ul.blocklist a:hover {
	box-shadow: 1px 1px 7px #CCC; }

ul.blocklist.smallImage a {
	background-position: 9px center; }

ul.blocklist a.nopadding {
	width: 120px;
	padding: 5px; }


/*** SPECIFIC STYLES ***/
.panel {
	position: relative;
	margin: 5px 5px 10px 5px;
	padding: 5px;
	background: url(img/bg.png);
	border: 1px solid #000;
	box-shadow: 0 1px 3px #888; }

.smallHeadNavi {
	font-size: .9em;
	padding-top: 4px; }

.loading {
	min-height: 50px;
	color: transparent;
	background: url(img/wait.gif) center center no-repeat transparent; }

.loading.panel {
	background: url(img/wait.gif) center center no-repeat rgba(255,255,255,0.9); }

.loading * {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear; }

.waitImg {
	background: url(img/wait-black.gif) center center no-repeat #000 !important; }

.spacer {
	margin-left: 20px; }

.dataBox {
	float: left;
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #f6f6f6; }

#shared .dataBox.left {
	width: 300px; }

#shared .dataBox.left table {
	width: 100%; }

#sharedIframe #trainingTable, #sharedIframe #trainingChartsAndMap {
	width: 100%; margin: 0; padding: 0; }

.dataBox tr, .dataBox td { padding: 3px; }

.inlineHead, .dataBox td.inlineHead {
	font-weight: bold;
	padding-right: 10px; }

p.text { margin: 0 0 12px; }
p.text-headline { margin: 0 0 8px; font-weight: bold; }

p.okay { background: url(img/ok.gif) no-repeat 3px center #F5FAF0; color: #8AB856; padding: 4px 2px 5px 22px; }
p.info { background: url(img/info.gif) no-repeat 3px center #EFF5FA; color: #5C9AC9; padding: 4px 2px 5px 22px; }
p.warning { background: url(img/warning.png) no-repeat 3px center #FFFFDD; color: #D49822; padding: 4px 2px 5px 22px; }
p.error { background: url(img/error.gif) no-repeat 3px center #FAEEEE; color: #CC5555; padding: 4px 2px 5px 22px; font-weight: normal; }
p.file { background: url(img/file.png) no-repeat 3px center #F5F5F5; color: #000; padding: 4px 2px 5px 22px; }

.show-on-hover {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.show-on-hover-parent:hover .show-on-hover {
	opacity: 1;
}

.block { display: block; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.b { font-weight: bold; }
.c { text-align: center; }
.l { text-align: left; }
.r { text-align: right; }
.small { font-size: 0.8em; }
.small.notSmaller .small { font-size: 1em; }
.wk td { background: #FFD !important; font-weight: bold; }
.link { padding-bottom: 1px; cursor: pointer; }
.inline { display: inline; }
.minus { color: #CA3030; }
.plus { color: #30AA30; }
.error { color: #F00; font-weight: bold; }
.nopadding { padding: 0; }
.padding-5 { padding: 5px; }
.nomargin { margin: 0; }
.margin-5 { margin: 0 5px; }
.margin-10 { margin: 0 10px; }
.transparent-70 { opacity: 0.7; filter: alpha(opacity=70); }
.fullWidth, .w100 { width: 100%; }
.w50 { width: 50%; }
.w33 { width: 33%; }
.w25 { width: 25%; }
.marginr50 { margin-right: 50%; }

.unimportant { opacity: 0.5; filter: alpha(opacity=50); }
.unimportant:hover { opacity: 1; filter: alpha(opacity=100); }

td img { vertical-align: middle; }
.a1 td, td.a1, .a2 td, td.a2, .a3 td, td.a3 { border-top: 1px solid #CCC; }
tr.a1:hover, tr.a2:hover, tr.a3:hover { color: #000; }
.a1 td, td.a1, .a2.swapped td { background: rgba(250,250,255,0.2); }
.a2 td, td.a2, .a1.swapped td { background: rgba(240,240,245,0.4); }
.a3 td, td.a3 { background: rgba(230,230,255,0.7); }
.a1:hover td, td.a1:hover { background: rgba(255,255,255,0.5); }
.a2:hover td, td.a2:hover { background: rgba(255,255,255,0.5); }
.a3:hover td, td.a3:hover { background: rgba(255,255,255,0.5); }
.a1.highlight td {	background: #FF3; font-style: italic; }
.a2.highlight td {	background: #FF6; font-style: italic; }
.a3.highlight td {	background: #FF9; font-style: italic; }
.highlight:hover td { background: #FF0; }
.space td { height: 1px; background: #666; padding: 0; }
.nopadding tr, .nopadding td { padding: 0; }
.nopadding input { margin: 0; }

tr.TODO td, tr.NOTICE td, tr.DEBUG td { color: #5C9AC9; background-color: #EFF5FA; padding: 4px 2px 5px 2px; }
tr.WARNING td { color: #D49822; background-color: #FFFFDD; padding: 4px 2px 5px 2px; }
tr.ERROR td { color: #CC5555; background-color: #FAEEEE; padding: 4px 2px 5px 2px; }
tr.TODO td.errortype, tr.NOTICE td.errortype, tr.DEBUG td.errortype { background: url(img/info.gif) no-repeat 3px center #EFF5FA; }
tr.WARNING td.errortype { background: url(img/warning.png) no-repeat 3px center #FFFFDD; }
tr.ERROR td.errortype { background: url(img/error.gif) no-repeat 2px center #FAEEEE; }
td.errortype { padding: 4px 2px 5px 22px !important; }


/*** SNIPPETS ***/
#dataBrowser { width: 100%; }

#dataPanel, #tab_content { overflow: auto; }

#tab_content > ul.jbar { position: absolute; right: 5px; }

#datenPanel { margin-bottom: 15px; }

#schuhe p {
	background-position: bottom left;
	background-repeat: no-repeat; }

#tab_content table {
	margin: 5px 0 10px; }

.window-plot-navigation a { margin-right: 20px; }
.window-plot-navigation a.current { font-weight: bold; }

.multi-import-table tbody { font: normal normal normal 11px/2em Verdana, Arial, sans-serif; }
.multi-import-table th { padding: 2px 10px; }
.multi-import-table td { padding: 1px 5px; }
.multi-import-table td input { font-size: 1em; top: 0; }

.multi-edit-table { line-height: 1.5em; }
.multi-edit-sport-icon { padding-top: 8px; position: relative; }
.multi-edit-icon { padding: 8px 0 0 0; }
.multi-edit-icon i { opacity: 0.7; }
.multi-edit-remove-link { position: absolute; top: 10px; left: -10px; }

.datepicker th, .datepicker td {
	padding: 0 !important;
}

#installer label strong {
	display: block;
	float: left;
	width: 120px;
	margin: 4px 2px;
	padding: 2px; }

#loginWindow {
	margin: 0 auto; }
#loginWindow input.withUnit {
	padding-left: 2px;
	text-align: left; }
#loginWindow p {
	margin: 1em 0; }

#loginPanel {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 170px;
	border-left: 1px solid #DDD;
	font-size: .9em; }

#loginPanel a {
	display: block;
	line-height: 24px;
	margin-left: 4px;
	padding: 2px 2px 2px 36px;
	border-bottom: none !important;
	background-position: 3px center;
	background-repeat: no-repeat; }
#loginPanel a:hover {
	background-color: rgba(255,255,255,.5); }

#loginPanel #loginLink { background-image:url(img/registerLogin.png); }
#loginPanel #registerLink { background-image:url(img/register.png); }
#loginPanel #passLink { background-image:url(img/registerPass.png); }

.textBadge {
	width: 33%;
	float: left;
	background-position: 10px 5px;
	background-repeat: no-repeat; }

.textBadge-charts { background-image:url(img/badge-charts.png); }
.textBadge-tools { background-image:url(img/badge-tools.png); }
.textBadge-heart { background-image:url(img/badge-heart.png); }

.textBadge strong { display: block; margin-bottom: 5px; text-transform: uppercase; font-weight: normal; }
.textBadge p { margin: 0 10px 0 45px; color: #666; }

code {
	width: 98%;
	margin: 0 auto;
	height: 100px;
	overflow: scroll;
	display: block;
	white-space: nowrap; }

#form_suche input, #form_suche select, #form_suche textarea {
	padding: 0;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid #D2D2D3 !important; }

#errorToolbar {
	z-index: 15;
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	background-color: #efefef;
	max-height: 400px; }

#errorTable tr {
	border-bottom: 1px solid #CCC; }

#training-display .dataBox.left { width: 260px; }
#training-display .dataBox.left table { width: 100%; }

#training-plots-and-map { float: right; border-width: 1px; }
#training-plots-and-map .toolbar-nav { display: none; }
#training-plots-and-map .dataBox { float: none; }
#training-plots-and-map #training-plots { padding: 6px 6px 0; }
#training-plots-and-map #training-map .toolbar-box-content { padding: 0 6px 6px; }
#training-plots-and-map #training-map.training-map-before .toolbar-box-content { padding: 0; }
#training-plots-and-map .plot-container { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #CCC; overflow: hidden; }

#training-plots .toolbar-line { padding: 4px 4px 6px; }
#training-plots .toolbar-line label { margin: 0 8px 0 0; }
#training-plots .toolbar-line.navigation-line label { padding-right: 12px; line-height: 16px; font-size: 12px; border-right: 1px solid #ccc; }
#training-plots .toolbar-line.navigation-line label:last-of-type { margin: 0; padding: 0; border-right: none; }

#training-map .toolbar-line { padding: 10px 10px 0; }
#training-map .toolbar-line select { margin: 0 20px 0 0; }

#training-map.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #F6F6F7;
	z-index: 500;
}

#training-map.fullscreen .toolbar-box-content {
	padding: 6px 6px 6px;
}

/*** FLOT ***/
#flotLoader {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999px;
    width: 500px;
    height: 150px; }

.flotChangeable .flot {
	position: absolute !important; }

.flot {
	position: relative !important; }

/*** Map ***/
.map {
	min-width: 400px;
	width: 100%;
	height: 300px; }

.map .hoverTip {
	position: absolute;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.8);
	padding: 1px;
	margin: 2px 0 0 2px;
	font-size: 9px;
	color: #545454;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; }

.withLeftArrow:after {
	content: ' ';
	position: absolute;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-right-color: rgb(255,255,255);
	border-right-color: rgba(255,255,255,0.8);
	left: -11px;
	top: 50%;
	margin-top: -5px; }