{% extends 'account/recover/base.html.twig' %}

{% block form %}
    <div class="w100">
        <label for="send_username">{% trans %}Username{% endtrans %}</label>
        <input id="send_username" name="send_username" class="middle-size{% if user_is_unknown %} validation-failed{% endif %}" type="text" value="{{ (username|default(''))|escape('html_attr') }}">
    </div>

    {% if user_is_unknown %}
        <p class="error">
            {% trans %}The username is not known.{% endtrans %}
        </p>
    {% endif %}

    <p class="info">
        {% trans %}A link for changing your password will be sent via email.{% endtrans %}
    </p>

    <div class="c">
        <input type="submit" value="{% trans %}Send link{% endtrans %}" name="submit">
    </div>
{% endblock %}