{% extends 'account/recover/base.html.twig' %}

{% block form %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}


    {% if user_is_unknown %}
        <p class="error">
            {% trans %}The username is not known.{% endtrans %}
        </p>
    {% endif %}

    <p class="info">
        {% trans %}A link for changing your password will be sent via email.{% endtrans %}
    </p>

    <div class="c">
        <input type="submit" value="{% trans %}Send link{% endtrans %}" name="submit">
    </div>
    {{ form_end(form) }}
{% endblock %}