{% extends 'account/recover/base_hash_given.html.twig' %}

{% block form %}
    <input type="hidden" name="chpw_hash" value="{{ recoverHash|escape('html_attr') }}">
    <input type="hidden" name="chpw_username" value="{{ username|escape('html_attr') }}">

    <div class="w100">
        <label for="chpw_name">{% trans %}Username{% endtrans %}</label>
        <input id="chpw_name" name="chpw_name" class="middle-size" type="text" value="{{ username|escape('html_attr') }}" disabled>
    </div>

    <div class="w100">
        <label for="new_pw">{% trans %}New password{% endtrans %}</label>
        <input id="new_pw" name="new_pw" class="middle-size" type="password">
    </div>

    <div class="w100 clearfix">
        <label for="new_pw_again">{% trans %}New password again{% endtrans %}</label>
        <input id="new_pw_again" name="new_pw_again" class="middle-size" type="password">
    </div>

    {% for error in errors %}
        <p class="error clear">{{ error }}</p>
    {% endfor %}

    <div class="c">
        <input type="submit" value="{% trans %}Change password{% endtrans %}" name="submit">
    </div>
{% endblock %}