<p>
    &nbsp;
</p>

<div class="small installer-footer-text">
    <p>
        &nbsp;
    </p>

    <div class="text-badge">
        <i class="fa fa-fw fa-2x fa-bar-chart-o"></i>
        <p>
            <strong>{% trans %}Statistics{% endtrans %}</strong>
            {% trans %}Runalyze analyzes your complete training, calculates your shape, computes prognoses and visualizes your training in plots - more detailed than any other sports diary.{% endtrans %}
        </p>
    </div>
    <div class="text-badge">
        <i class="fa fa-fw fa-2x fa-cog"></i>
        <p>
            <strong>{% trans %}Configuration{% endtrans %}</strong>
            {% trans %}Runalyze is completely configurable. You can decide by yourself which information of your training you want to record and which statistics are being displayed on which place.{% endtrans %}
        </p>
    </div>
    <div class="text-badge">
        <i class="fa fa-fw fa-2x fa-heart"></i>
        <p>
            <strong>{% trans %}By athletes for athletes{% endtrans %}</strong>
            {% trans %}Runalyze is created by athletes for athletes. Whenever you have comments, problems or wishes: Please contact our Runalyze team. It's near and dear to us.{% endtrans %}
        </p>
    </div>

    <p class="text clear">
        &nbsp;
    </p>

    <p class="c small">
        <a href="https://github.com/Runalyze/Runalyze" title="GitHub: Runalyze"><i class="fa fa-fw fa-2x fa-github-alt"></i></a>
        <a href="http://twitter.com/RunalyzeDE" title="Twitter: Runalyze"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
        <a href="http://www.facebook.com/Runalyze" title="Facebook: Runalyze"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
        <a href="https://www.instagram.com/runalyze/" title="Instagram: Runalyze"><i class="fa fa-fw fa-2x fa-instagram"></i></a>
        <a href="https://plus.google.com/communities/116260192529858591171" title="Google+: Runalyze"><i class="fa fa-fw fa-2x fa-google-plus"></i></a>
    </p>

    <p>
        &nbsp;
    </p>
</div>
