{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <b><a href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">Exit impersonation</a></b>
{% endif %}

{% include 'analytics.html.twig' %}

</body>
</html>
