{% extends "base_not_logged_in.html.twig" %}

{% block content %}
<div>
    <h1>{% trans %}Maintenance{% endtrans %}</h1>

    <p>
        <strong>{% trans %}RUNALYZE is temporarily down for maintenance{% endtrans %}</strong><br />
        {% trans %}We will resume normal operations as soon as possible.{% endtrans %}
    </p>
</div>
{% endblock content %}
