{% extends 'tools/tables/base.html.twig' %}

{% set activeTable = 2 %}

{% block table %}
    <table class="zebra-style c" style="width: 700px;">
        <thead>
            <tr>
                <th>{% trans %}Effective VO2max{% endtrans %}</th>
                <th>{% trans %}Easy{% endtrans %}</th>
                <th>{% trans %}Marathon{% endtrans %}</th>
                <th>{% trans %}Threshold{% endtrans %}</th>
                <th>{% trans %}Interval{% endtrans %}</th>
                <th>{% trans %}Repetition{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vo2max in vo2maxValues %}
                <tr{% if vo2max.value == currentVo2max|round %} class="highlight"{% endif %}>
                    <td class="b">{{ vo2max.value }}</td>
                    {% for time in vo2max.paces %}
                        <td>{{ time|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
