{% extends 'tools/tables/base.html.twig' %}

{% set activeTable = 2 %}

{% block table %}
    <p class="text">
        {% trans with {'%vVO2max%': 'vVO<sub>2</sub>max'} %}Definitions for training paces vary a lot, depending on which philosophy one looks at.
            This table specifies paces at various percentages of %vVO2max%, which equals approximately the maximal pace for 11 minutes.
        {% endtrans %}
    </p>

    <table class="zebra-style fullwidth c">
        <thead>
            <tr>
                <th>{% trans with {'%VO2max%': 'VO<sub>2</sub>max'} %}Effective %VO2max%{% endtrans %}</th>
                <th>65 &#37;</th>
                <th>70 &#37;</th>
                <th>75 &#37;</th>
                <th>80 &#37;</th>
                <th>85 &#37;</th>
                <th>90 &#37;</th>
                <th>95 &#37;</th>
                <th>100 &#37;</th>
                <th>105 &#37;</th>
                <th>110 &#37;</th>
            </tr>
        </thead>
        {% set percentages = [0.65, 0.70, 0.75, 0.80, 0.85, 0.90, 0.95, 1.00, 1.05, 1.10] %}

        <tbody>
        <tr class="highlight bottom-spacer">
            <td class="b">{{ currentVo2max|round }}</td>
            {% for percentage in percentages %}
                <td>{{ pace(vo2maxVelocity.pace(currentVo2max|round, percentage), paceUnit).value }}</td>
            {% endfor %}
        </tr>
        </tbody>
        <tbody>
            {% for vo2max in range(30, 80) %}
                <tr>
                    <td class="b">{{ vo2max }}</td>
                    {% for percentage in percentages %}
                        <td>{{ pace(vo2maxVelocity.pace(vo2max, percentage), paceUnit).value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="info">
        {% trans with {'%unit%': pace(0, paceUnit).unit} %}All paces are in %unit%.{% endtrans %}
    </p>
{% endblock %}
