{% extends "base_not_logged_in.html.twig" %}

{% block content %}

    <div>
        <h1>{% trans %}Unsubscribe failure{% endtrans %}</h1>

        <p><strong>{% trans %}Sorry, but the url was not valid.{% endtrans %}</strong></p><br />
    </div>
{% endblock content %}
