{% extends "base_not_logged_in.html.twig" %}

{% block content %}

    <div>
        <h1>{% trans %}You have successfully unsubscribed{% endtrans %}</h1>

        <p>{% trans %}You have successfully unsubscribed from all notifications{% endtrans %}</p><br />
    </div>
{% endblock content %}
