{% extends "CoreBundle:System:base.html.twig" %}
            {% block content %}
            <div class="logo"><img src="assets/images/runalyze.png" width="200" height="200"></div>

Update process
            {% endblock content %}