{% extends "CoreBundle:System:base.html.twig" %}
{% set page_title = 'RUNALYZE | Update' %}
            {% block content %}
            <div class="logo"><img src="assets/images/runalyze.png" width="200" height="200"></div>
            
            <div class="button-group">
            {% if updateAvailable == true %}
                <a class="button" role="button" href="{{ path('update_start') }}">{% trans %}Click here to update RUNALYZE{% endtrans %}</a>
            {% else %}
                <a class="button" role="button">{% trans %}No update needed{% endtrans %}</a>
            {% endif %}
            </div>
            {% endblock content %}