{% extends 'base_not_logged_in.html.twig' %}

{% block content %}
    <fieldset>
        <legend>{% trans %}Activate account{% endtrans %}</legend>

        {% block messages %}
        {% endblock %}

        <p class="text">
            <a class="button" href="{{ url('login') }}" title="Runalyze">&raquo; {% trans %}Login{% endtrans %}</a>
        </p>
    </fieldset>
{% endblock %}
