{% extends "account/activate/base.html.twig" %}

{% block messages %}
    <p class="error">
        {% trans %}The activation did not work.{% endtrans %}
        <br>
        {% trans %}Probably the link was wrong or your account has been already activated.{% endtrans %}
    </p>
{% endblock %}
