{% extends "account/activate/base.html.twig" %}

{% block messages %}
    <p class="info">
        {% if username %}
        {% trans with {'%username%': username}%}Hi %username%{% endtrans %}<br>
        {% endif %}
        {% if alreadyActivated %}
            {% trans %}Your account has already been activated.{% endtrans %}
        {% else %}
            {% trans %}Your account has been activated.{% endtrans %}
        {% endif %}
        <br>
        {% trans %}You can now use Runalyze.{% endtrans %}
    </p>
{% endblock %}
