{% extends "account/activate/base.html.twig" %}

{% block messages %}
    <p class="info">
        {% trans %}Your account has been activated.{% endtrans %}
        <br>
        {% trans %}You can now use Runalyze.{% endtrans %}
    </p>
{% endblock %}