{% extends 'tools/database_cleanup/base.html.twig' %}

{% block toolContent %}
    <div id="cleanup-job-result" class="padding-5">
        <div class="padding-5">
            {# TODO: use macro for inc/html/class.ProgressBar[Single].php #}
            <div class="progress-bar-container progress-bar-container-inline animated">
                <div class="progress-bar-inner">
                    <div class="progress-bar colored-green" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="c">
            100 &#37;
        </div>

        <p class="text"></p>

        {% for message in messages %}
            <p class="okay">{{ message|raw }}</p>
        {% endfor %}

        <p class="text"></p>

        <p class="text">
            <a class="ajax" href="{{ url("tools-cleanup") }}" target="ajax">&laquo; {% trans %}back to form{% endtrans %}</a>
        </p>
    </div>

    <script>
        $(function(){
            $("#cleanup-job-result").find(".progress-bar").width('100%');
        });
    </script>
{% endblock %}
