{% extends "account/delete/base.html.twig" %}

{% block messages %}
    <p class="error">
        {% trans %}The deletion did not work.{% endtrans %}
        <br>
        {% trans %}Probably the link was wrong.{% endtrans %}
    </p>
{% endblock %}
