{% extends "account/delete/base.html.twig" %}

{% block messages %}
    <p class="info">
        {% trans %}Your account has been deleted.{% endtrans %}
        <br>
        {% trans %}You cannot use Runalyze anymore.{% endtrans %}
    </p>
{% endblock %}
