{% extends "shared/base.html.twig" %}

{% set body_attributes = ' id="shared"' %}

{% block content %}

    {% if not app.request.xmlHttpRequest %}
        {% if statistics %}
            <div class="panel" style="width:960px;margin:5px auto;">
                {{ statistics.display }}
            </div>
        {% endif %}

        <div id="data-browser" class="panel" style="width:960px;margin:5px auto;">
            <div id="publicList">
    {% endif %}

                {{ dataBrowser.display }}

    {% if not app.request.xmlHttpRequest %}
            </div>
        </div>

        <div id="statistics-inner" class="panel" style="width:960px;margin:5px auto;">
            <div class="panel-content">
                <p class="info">
                    {% trans %}Click on an activity to see more details.{% endtrans %}<br>
                    {% trans %}Public activities are marked: {% endtrans %} <i class="fa fa-fw fa-plus fa-green"></i>
                </p>
            </div>
        </div>
    {% endif %}>

{% endblock %}
