{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading">
	<h1>{% trans %}VO2max{% endtrans %}</h1>
</div>
<div class="panel-content">
	<p class="text">
		{% trans %}VO2max itself is a scientific metric for the maximal oxygen consumption that can be measured in the laboratory.<br>Two runners with equal VO2max values do not need to perform equally, as running efficiency plays an additional role. To overcome the issue of specifying running efficiency, one can ignore the efficiency and therefore call it effective VO2max.{% endtrans %}
	</p>

	<p class="file">
		{% trans with {'%s': '<em><a href="http://fellrnr.com/wiki/VO2max" title="VO2max">http://fellrnr.com/wiki/VO2max</a></em>'} %}see %s{% endtrans %}
	</p>
</div>


<div class="panel-heading panel-sub-heading">
	<h1>{% trans %}Your Shape: an estimation of your VO2max value{% endtrans %}</h1>
</div>
<div class="panel-content">
	<p class="text">
        {% trans %}Your personal effective VO2max is estimated based on the ratio of heart rate and pace in every of your runs.{% endtrans %}
        {% trans %}The average over a given period is considered as your current shape.{% endtrans %}
	</p>

	<p class="text">
        {% trans %}Each VO2max value is marked with an arrow to show if this value is (much) higher than your current shape, equal to it or (much) lower:{% endtrans %}<br>
		<i class="fa fa-fw vo2max-icon fa-arrow-up"></i>
		<i class="fa fa-fw vo2max-icon fa-arrow-up fa-rotate-45"></i>
		<i class="fa fa-fw vo2max-icon fa-arrow-right"></i>
		<i class="fa fa-fw vo2max-icon fa-arrow-right fa-rotate-45"></i>
		<i class="fa fa-fw vo2max-icon fa-arrow-down"></i>
	</p>

	<p class="warning">
        {% trans %}Warning: Of course, pauses, walking and other factors can heavily influence the ratio of heart rate and pace.{% endtrans %}
        {% trans %}Activities with known influences or strange results can be ignored for the calculation of your shape.{% endtrans %}
	</p>
</div>


<div class="panel-heading panel-sub-heading">
	<h1>{% trans %}TRIMP/ATL/CTL/TSB{% endtrans %}</h1>
</div>
<div class="panel-content">
    <p class="text">
        {% trans %}The TRIMP-concept gives a possibility to describe the load of a single activity.{% endtrans %}
        {% trans %}For a single activity the TRIMP is calculated based on the duration and your heart rate.{% endtrans %}
    </p>

    <p class="text">
        {% trans %}Your <strong>Acute Training Load</strong>, ATL, also fatigue, is based on the sum of your last TRIMP values in a short period, e.g. for seven days.{% endtrans %}
        {% trans %}In contrast, your <strong>Chronical Training Load</strong>, CTL, also fitness level, is based on the sum of your last TRIMP values in a long period, e.g. for fourty days.{% endtrans %}
        {% trans %}The difference of these values is called <strong>Training Stress Balance</strong>, TSB. It describes if you are recovering (positive) or training hard (negative).{% endtrans %}
    </p>

    <p class="file">
        {% trans with {'%s': '<em><a href="http://www.netzathleten.de/fitness/richtig-trainieren/item/1481-trainingstagebuch-sinnvoll-oder-nicht" title="Das TRIMP-Konzept">Das TRIMP-Konzept</a>'} %}see %s{% endtrans %}
        ({% trans %}german{% endtrans %}, nethathleten.de)
    </p>
</div>
{% endblock %}
