{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading">
	<h1>RUNALYZE {{ RUNALYZE_VERSION }}</h1>
</div>
<div class="panel-heading">
	<h1>{% trans %}Support{% endtrans %}</h1>
</div>
<div class="panel-content">
	<p class="text">
		{% trans %}Please let us know if you have wishes or have encountered bugs.{% endtrans %}
		{% trans %}We give our best to make Runalyze as good as possible for you. - Therefore we would be interested in your suggestions for improvement.{% endtrans %}
		{% trans %}In general most questions, problems and ideas are more appropriate to ask in the forum.{% endtrans %}
	</p>

	<ul class="blocklist blocklist-inline clearfix">
		<li><a href="https://forum.runalyze.com" title="Board: Runalyze"><i class="fa fa-comments"></i> <strong>{% trans %}Forum{% endtrans %}</strong></a></li>
		<li><a href="https://help.runalyze.com" title="Runalyze"><i class="fa fa-question-circle"></i> <strong>{% trans %}Documentation{% endtrans %}</strong></a></li>
		<li><a href="https://translate.runalyze.com" title="Runalyze"><i class="fa fa-globe"></i> <strong>{% trans %}Translation{% endtrans %}</strong></a></li>
		<li><a href="https://github.com/Runalyze/Runalyze" title="GitHub: Runalyze"><i class="fa fa-github-alt"></i> <strong>GitHub</strong></a></li>
		<li><a href="https://blog.runalyze.com/blog/" title="Runalyze"><i class="fa fa-newspaper-o"></i> <strong>{% trans %}Blog{% endtrans %}</strong></a></li>
		<li><a href="{{ path('glossary-index') }}" class="window" title="Runalyze"><i class="fa fa-book"></i> <strong>{% trans %}Glossary{% endtrans %}</strong></a></li>
		<li><a href="http://twitter.com/RunalyzeDE" title="Runalyze"><i class="fa fa-twitter color-twitter"></i> <strong>Twitter</strong></a></li>
		<li><a href="http://facebook.com/Runalyze" title="Runalyze"><i class="fa fa-facebook color-facebook"></i> <strong>Facebook</strong></a></li>
		<li><a href="https://www.instagram.com/runalyze/" title="Runalyze"><i class="fa fa-instagram color-instagram"></i> <strong>Instagram</strong></a></li>
		<li><a href="https://plus.google.com/communities/116260192529858591171" title="Runalyze"><i class="fa fa-google-plus color-google-plus"></i> <strong>Google+</strong></a></li>
	</ul>

	<p class="text">
		{% trans %}In a case of urgency you can contact us via email:{% endtrans %} <a href="mailto:support@runalyze.com" title="Support">support@runalyze.com</a>.
	</p>
</div>

<div class="panel-heading panel-sub-heading">
	<h1>{% trans %}Credits{% endtrans %}</h1>
</div>
<div class="panel-content">
	<ul>
		<li>
			<strong>{% trans %}Icons{% endtrans %}</strong>
			<ul>
				<li>Font Awesome by Dave Gandy - <a class="external" href="http://fontawesome.io/">http://fontawesome.io/</a></li>
				<li>Forecast Font by Ali Sisk - <a class="external" href="http://forecastfont.iconvau.lt/">http://forecastfont.iconvau.lt/</a></li>
				<li>Icons8 Font by VisualPharm - <a class="external" href="http://icons8.com">http://icons8.com/</a></li>
			</ul>
		</li>
		<li>
			<strong>{% trans %}Elevation data from Shuttle Radar Topography Mission{% endtrans %}</strong>
			<ul>
				<li>SRTM tiles grabbed via Derek Watkins - <a class="external" href="http://dwtkns.com/srtm/">http://dwtkns.com/srtm/</a></li>
				<li>SRTM files by International Centre for Tropical  Agriculture (CIAT) - <a class="external" href="http://srtm.csi.cgiar.org/">http://srtm.csi.cgiar.org/</a></li>
				<li>SRTMGeoTIFFReader by Bob Osola - <a class="external" href="http://www.osola.org.uk/elevations/index.htm">http://www.osola.org.uk/elevations/index.htm</a></li>
			</ul>
		</li>
		<li>
			<strong>jQuery</strong> by jQuery Foundation, Inc. - <a class="external" href="http://jquery.org/">http://jquery.org/</a>
			<ul>
				<li>Bootstrap Tooltip by Twitter, Inc. - <a class="external" href="http://twitter.github.com/bootstrap/javascript.html#tooltips">http://twitter.github.com/bootstrap/javascript.html#tooltips</a></li>
				<li>Flot by IOLA and Ole Laursen - <a class="external" href="http://www.flotcharts.org/">http://www.flotcharts.org/</a></li>
				<li>Leaflet by Vladimir Agafonkin - <a class="external" href="http://leafletjs.com/">http://leafletjs.com/</a></li>
				<li>FineUploader by Widen Enterprises, Inc. <a class="external" href="https://github.com/Widen/fine-uploader">https://github.com/Widen/fine-uploader</a>
				<li>Tablesorter by Christian Bach - <a class="external" href="http://tablesorter.com/docs/">http://tablesorter.com/docs/</a></li>
				<li>Datepicker by Stefan Petre - <a class="external" href="http://www.eyecon.ro/">http://www.eyecon.ro/</a></li>
				<li>Chosen by Patrick Filler for Harvest - <a class="external" href="http://getharvest.com">http://getharvest.com</a></li>
				<li>FontIconPicker by Alessandro Benoit &amp; Swashata Ghosh <a class="external" href="http://codeb.it">http://codeb.it</a></li>
			</ul>
		</li>
		<li>
			<strong>{% trans %}Miscellaneaous{% endtrans %}</strong>
			<ul>
				<li>phpFastCache by Khoa Bui - <a class="external" href="https://github.com/khoaofgod/phpfastcache">https://github.com/khoaofgod/phpfastcache</a></li>
				<li>Garmin Communicator by Garmin Ltd. - <a class="external" href="http://developer.garmin.com/web-device/garmin-communicator-plugin/">http://developer.garmin.com/web-device/garmin-communicator-plugin/</a></li>
				<li>Weather data from OpenWeatherMap - <a class="external" href="http://openweathermap.org/">http://openweathermap.org</a></li>
				<li>Weather data from Darksky - <a class="external" href="https://darksky.net/poweredby/">https://darksky.net/poweredby/</a></li>
				<li>Linux TomTom GPS Watch Utilities - <a class="external" href="https://github.com/ryanbinns/ttwatch">https://github.com/ryanbinns/ttwatch</a></li>
				<li>GpxTrackPoster by <a href="https://www.florian-pigorsch.de/">Florian Pigorsch</a> (flopp) - <a class="external" href="https://github.com/flopp/GpxTrackPoster">https://github.com/flopp/GpxTrackPoster</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endblock %}
