{% extends "system/base.html.twig" %}

{% set page_title = 'RUNALYZE | Installation' %}

{% block content %}
    {% if output %}
    <div class="console-output">
        <pre>{{ output|raw }}</pre>
    </div>
    {% endif %}

    {% if installationPossible %}
    <div class="button-group">
        <a class="button" role="button" href="{{ path('install_start') }}">{% trans %}Start the installation of RUNALYZE{% endtrans %}</a>
    </div>
    {% endif %}

    {% if installationSuccessful %}
    <p>{% trans %}RUNALYZE has been successfully installed. You can now start analyzing your training.{% endtrans %}</p>

    <div class="button-group">
        <a class="button" role="button" href="{{ path('register') }}">{% trans %}Create an account{% endtrans %}</a>
    </div>
    {% endif %}
{% endblock content %}
