{% extends "system/base.html.twig" %}
{% set page_title = 'RUNALYZE | Installation' %}
            {% block content %}
            <div class="logo"><img src="assets/images/runalyze.png" width="200" height="200"></div>
            

            {% endblock content %}