{% extends "system/base.html.twig" %}

{% set page_title = 'RUNALYZE | Update' %}

{% block content %}
    {% if updateAvailable == true %}
        <div class="button-group">
            <a class="button" role="button" href="{{ path('update_start') }}">{% trans %}Click here to update RUNALYZE{% endtrans %}</a>

            <p>{% trans %}For large databases (several gigabytes) we recommend updating RUNALYZE via console.{% endtrans %}</p>
        </div>
    {% else %}
        <div class="button-group">
            <div class="button" role="button">{% trans %}No update needed{% endtrans %}</div>
        </div>
    {% endif %}

    {% if migrationDump %}
        <div class="console-output">
            <pre>{{ migrationDump|raw }}</pre>
        </div>
    {% endif %}
{% endblock content %}
