{% extends "system/base.html.twig" %}

{% block content %}
    {% if migrationStatus == 'uptodate' %}
        <div class="button-group">
            <a class="button" role="button">{% trans %}No update needed{% endtrans %}</a>
        </div>
    {% elseif migrationStatus == 'executed' %}
        <div class="button-group">
            <p>{% trans %}Migrations have been executed{% endtrans %} <br> {% trans %}Nothing more to do{% endtrans %}</p>

            <a class="button" role="button" href="{{ path('base_url') }}">{% trans %}Go back to RUNALYZE{% endtrans %}</a>
        </div>
    {% endif %}

    {% if migrationDump %}
        <div class="console-output">
            <pre>{{ migrationDump|raw }}</pre>
        </div>
    {% endif %}
{% endblock content %}
