<div id="ajax" class="panel small-window" style="display: block; opacity: 1;">
    <div id="close" class="black-rounded-icon" onclick="Runalyze.Overlay.close()"><i class="fa fa-fw fa-times"></i></div>
    <div class="panel-menu panel-menu-floated">
        <ul class="">
            <li class="triggered"><a target="ajax" href="{{ url('activity-upload') }}">{% trans %}Upload{% endtrans %}</a></li>
            <li><a class="change" target="ajax" href="{{ url('activity-communicator') }}">Garmin Communicator</a></li>
            <li class=""><a class="change" target="ajax" href="#formular">Form</a></li>
        </ul>
    </div>
    <div class="change" id="upload" style="opacity: 1;">
        <div class="panel-heading"><h1>{% trans %}Upload{% endtrans %}</h1></div>
        <div class="panel-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>